# 便于开发忽略所有文件提交
*
# 除aster-projects-build自身文件
!.gitignore
!git-build.sh
!git-projects.txt
!README.md

!/conf/
/conf/*
!/conf/host/
/conf/host/*
!/conf/host/host.txt
!/conf/host/host-up.sh

!/conf/db/
/conf/db/*
!/conf/db/aster-nacos
/conf/db/aster-nacos/*
!/conf/db/aster-nacos/nacos-mysql.sql

!/conf/db/aster-xxl-job
/conf/db/aster-xxl-job/*
!/conf/db/aster-xxl-job/tables_xxl_job.sql